html, body {
    overflow: hidden;
}

.centerHoriz {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

.test {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(97, 97, 97);
    position: absolute;
}

.bullet {
    height: 10px;
    width: 10px;
    background-color: rgb(34, 33, 33);
    border-radius: 50%;
}